        <ul id="mainnav">
            <li>
                <a href="/感/">
                <span class="icon"> <i aria-hidden="true" class="icon-quill"></i></span>
                <span> 感 </span>
            </a>
            </li>
            <li>
            <a href="/猿/">
                <span class="icon"> <i aria-hidden="true" class="icon-code"></i></span>
                <span> 猿 </span>
            </a>
            </li>
            <li>
            <a href="/狮/">
                <span class="icon"> <i aria-hidden="true" class="icon-console"></i></span>
                <span> 狮 </span>
            </a>
            </li>
            <li>
            <a href="/about/index.html">
                <span class="icon"> <i aria-hidden="true" class="icon-user"></i></span>
                <span> 吾 </span>
            </a>
            </li>
        </ul>
